body {
  --main_bg_color: white;
  --main_color: black;

  /* global config */
  padding: 0px;
  margin: 0px;

  /* font */
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;

  background: var(--main_bg_color);
  color: var(--main_color);
}

body.dark {
  --main_bg_color: black;
  --main_color: white;

  background: var(--main_bg_color);
  color: var(--main_color);
}